html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Cabin", sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #F4B073;
}

p {
  font-size: 1.8rem;
}

img {
  width: 100%;
}

header {
  width: 100%;
}

.top-nav {
  width: 100%;
}

.nav-list {
  list-style: none;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #254f6c, #d4faff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.landing-text h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  background: linear-gradient(to top, #254f6c, #F4B073);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-text h2 {
  color: #254f6c;
  font-size: 1.8rem;
}

.about .
