html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-family: Cabin, sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  padding: .5em .75em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #f4b073;
}

p {
  font-size: 1.8rem;
}

img {
  width: 100%;
}

header {
  width: 100%;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  width: 100%;
}

.top-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-list {
  list-style: none;
  width: 20em;
  margin-top: 2rem;
  display: none;
  padding: 1rem;
  float: right;
}

.nav-check:checked ~ .nav-list {
  display: block;
  background-color: #f4b073;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 0;
  margin: 1rem 2rem;
}

.nav-check:checked ~ .nav-label {
  background-color: #f4b073;
}

.nav-label img {
  display: block;
  width: 100%;
}

.top-nav a {
  color: #fff;
}

.top-nav li {
  margin: 0;
}

.nav-link {
  font-family: Cabin, sans-serif;
  font-size: 1.3rem;
  padding: 1.5rem;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: #275b80;
  transition: .5s;
}

.landing-text {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin-left: 1.5rem;
}

.landing-text h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: Cabin, sans-serif;
  color: #275b80;
}

.landing-text h2 {
  color: #275b80;
  font-size: 1.8rem;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: left;
  line-height: 0;
  margin-bottom: 3rem;
}

.about-heading h2 {
  font-size: 2rem;
  color: #275b80;
  text-transform: uppercase;
}

.about-heading p {
  font-size: 1.2rem;
  line-height: 1;
  max-width: 90%;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.socials-img {
  width: 60%;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.article-heading {
  width: 100%;
  text-align: center;
}

.article-heading h2 {
  font-size: 2.5rem;
  margin-top: 3rem;
  color: #275b80;
}

.article-heading a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}

.contact-btn {
  background-color: #275b80;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: .75em .9em;
}

.contact-btn:hover {
  background-color: #f4b073;
  color: #275b80;
}

.has-margin-right {
  margin-right: 5rem;
}

.section-heading {
  text-align: center;
  margin-bottom: 8rem;
}

.section-heading h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Cabin, sans-serif;
  color: #275b80;
}

section {
  padding: 4rem 2rem;
}

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-img {
  width: 60rem;
}

.portfolio-description h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.portfolio-description p {
  font-size: 1.2rem;
  max-width: 40em;
}

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.2rem;
}

input, select, textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20px;
  border: solid 1px #275b80;
  outline-color: #f4b073;
}

input[type="submit"] {
  font-size: 1rem;
  width: initial;
  background-color: #275b80;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #275b80;
  background-color: #f4b073;
}

footer {
  width: 100%;
  margin-top: 6rem;
  padding: 1rem;
  background-color: #275b80;
  position: relative;
}

footer p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {

  .landing-text h1 {
    font-size: 2rem;
  }

  .landing-text h2 {
    font-size: 1.5rem;
  }

  section {
    padding: 1.5rem
  }

  .section-heading h1 {
    font-size: 1.5rem;
  }

  .about-heading h2 {
    font-size: 1.5rem;
  }

  .about-heading p {
    font-size: 1rem;
  }

  .portfolio-description h1 {
    font-size: 1.2rem;
  }

  .portfolio-description p {
    font-size: 1rem;
  }

}

@media screen and (max-width: 600px) {

  .landing-text h1 {
    font-size: 1.8rem;
    margin-right: 2.5rem;
    text-align: center;
  }

  .landing-text h2 {
    font-size: 1.5rem;
    margin-right: 3rem;
    text-align: center;
  }

  section {
    padding: 1rem
  }

  .about .container {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .about-heading h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .about-heading p {
    font-size: 1rem;
    text-align: center;
  }

  .profile-img {
    margin: 0 0 1rem 0;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    width: 80%;
    margin: 0 0 2rem 0;
  }

  .portfolio-description h1 {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
  }

  .portfolio-description p {
    font-size: 1rem;
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .nav-check,
  .nav-label {
    display: none;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .nav-list {
    list-style: none;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

}
